.chat {
    margin-left: 10px;
    display: flex;
    width: 98%;
    justify-content: flex-start;
  }
  .timeLastMessage {
    text-align: right;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
  }
  .infoChat {
    margin: 5px;
    margin-left: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: none;
  }