.chats {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.currentContacttName {
  text-align: left;
  width: 50%;
}
.currentContactLastEnter {
  text-align: right;
  width: 50%;
}
.searchAndDataCurrentContact {
  display: flex;
  flex-direction: row;
}
.searchLabel {
  width: 80%;
}
.dataCurrentContact {
  display: flex;
  align-items: flex-end;
}