.contact {
	display: flex;
	width: 98%;
	justify-content: flex-start;
}

.contact__last-message__time {
	text-align: right;
	display: flex;
	align-items: flex-end;
	font-size: 30px;
}

.contact__info {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-transform: none;
}
