.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.currentChat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}  