.message, .my-message {
  border: 1px black solid;
  display: flex;
  align-items: flex-end;
  height: 4.5vh;
}
.my-message {    
  align-self: flex-end;
  border-radius: 50px 25px 0px 50px;
}  
.message {
  border-radius: 25px 50px 50px 0px;
}
.time-message {
  font-size: 10px;
}