.message, .myMessage {
  border: 1px black solid;
  display: flex;
  align-items: flex-end;
}
.myMessage {    
  align-self: flex-end;
  border-radius: 50px 25px 0px 50px;
}  
.message {
  border-radius: 25px 50px 50px 0px;
}
.timeMessage {
  font-size: 10px;
}